body {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}
body .heading_bar {
  background-color: blueviolet;
  margin: auto;
}
body .heading_bar .bar {
  max-width: 1177px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 599px;
  color: #f1f1f1;
  height: 44px;
}
body .heading_bar .contact {
  display: flex;
  gap: 48px;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
body .heading_bar .contact .email {
  display: flex;
}
body .heading_bar .contact .phone {
  display: flex;
}
body .heading_bar .contact i {
  margin-right: 10px;
}
body .heading_bar .feature {
  display: flex;
  gap: 15px;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
body .heading_bar .feature .login {
  display: flex;
}
body .heading_bar .feature .wishlist {
  display: flex;
}
body .heading_bar .feature i {
  margin-left: 3px;
}
body .nav_bar {
  display: flex;
  max-width: 1920px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
body .nav_bar .main {
  max-width: 1170px;
  height: 40px;
  display: flex;
}
body .nav_bar .main h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  color: #0d0e43;
  font-family: "Josefin Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .nav_bar .main .menu_nav {
  display: flex;
  align-items: center;
  gap: 35px;
  font-family: "lato";
}
body .nav_bar .main .menu_nav a {
  text-decoration: none;
}
body .nav_bar .main .menu_nav a:hover {
  color: #fb2e86;
}
body .nav_bar .main .search {
  margin-left: 100px;
  display: flex;
  align-items: center;
  width: 317px;
  height: 40px;
}
body .nav_bar .main .search_input {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border: solid 2px #e7e6ef;
  border-right: none;
}
body .nav_bar .main .search_button {
  width: 51px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #fb2e86;
  align-items: center;
  display: flex;
  justify-content: center;
}
body .nav_bar .main .search_button i {
  width: 20px;
  height: 20px;
  color: #f3f9ff;
}