@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  .heading_bar {
    background-color: blueviolet;
    margin: auto;
    .bar {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 445px;
      color: #f1f1f1;
      height: 44px;
      width: 1240px;
    }
    .contact {
      display: flex;
      gap: 48px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: normal;

      .email {
        display: flex;
      }
      .phone {
        display: flex;
      }
      i {
        margin-right: 10px;
      }
    }
    .feature {
      display: flex;
      gap: 15px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: left;
      .login {
        display: flex;
      }
      .wishlist {
        display: flex;
      }
      i {
        margin-left: 3px;
      }
      .language,
      .unit {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cart a i {
        color: white;
      }
    }
  }
  .nav_bar {
    display: flex;
    max-width: 1920px;
    height: 80px;
    justify-content: center;
    align-items: center;
    .main {
      width: 1240px;
      height: 40px;
      display: flex;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        color: #0d0e43;
        font-family: 'Josefin Sans';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .menu_nav {
        display: flex;
        align-items: center;
        gap: 35px;
        font-family: 'lato';
        a {
          text-decoration: none;
        }
        a:hover {
          color: #fb2e86;
        }
      }

      .search {
        margin-left: 100px;
        display: flex;
        align-items: center;
        width: 317px;
        height: 40px;
      }

      .search_input {
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
        border: solid 2px #e7e6ef;
        border-right: none;
      }

      .search_button {
        width: 51px;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: #fb2e86;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .search_button i {
        width: 20px;
        height: 20px;
        color: #f3f9ff;
      }
    }
  }
  .banner {
    max-width: 1920px;
    height: 286px;
    background-color: #f6f5ff;
    position: relative;
    a {
      text-decoration: none;
    }
    a:hover {
      color: #fb2e86;
    }
    h1 {
      position: absolute;
      font-family: 'Josefin Sans';
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      top: 96px;
      left: 374px;
      margin-bottom: 9px;
    }

    span {
      position: absolute;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      text-align: center;
      top: 141px;
    }

    span:nth-child(2) {
      left: 375px;
    }

    span:nth-child(3) {
      left: 420px;
    }

    span:nth-child(4) {
      left: 465px;
      color: #fb2e86;
    }
  }
  

  .cart-container {
    max-width: 1170px;
    margin: auto;
    margin-top: 131px;
    padding: 20px;
    border-radius: 8px;

    display: flex;
   
    .cart-table {
      width: 70%;
      border-collapse: collapse;
    }
    th.left{
      text-align: left;
    }
    th,
    td {
      padding: 15px;
      text-align: center; /* Căn giữa theo chiều ngang */
      vertical-align: middle; /* Căn giữa theo chiều dọc */
    }

    th {
      font-family: 'Josefin Sans';
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      color: #1d3178;
    }
    td .quantity{
      width: 200px;
    }
    td .quantity-control {
      display: flex;
      justify-content: center; /* Căn giữa các nút số lượng */
      align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    }

    td .quantity-input {
      width: 50px;
      text-align: center;
    }

    td .product-total,
    td .price {
      text-align: center; /* Căn giữa giá và tổng */
    }

    .cart-totals {
      padding: 15px;
      background-color: #f9f9ff;
      border-radius: 8px;
      width: 30%;
      margin-left: 20px;
      height: 300px;
      p {
        font-size: 18px;
        font-weight: bold;
        color: #1d3178;
        font-family: 'Josefin Sans';
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        margin-bottom: 42px;
      }
      .totals-line {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        span {
          font-family: 'Lato';
          font-size: 18px;
          font-weight: 600;
          line-height: 21.6px;
          text-align: left;
          color: #1d3178;
        }
      }
      .checkout-btn {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
        margin-top: 80px;
      }
      .checkout-btn:hover {
        background-color: #218838;
      }
    }
  }
  .product_cart {
    position: relative;
    display: flex;
    .cart-img {
      width: 87px;
      height: 87px;
    }
    .remove-btn {
      position: absolute;
      left:90px;

    }
    .contain_pro {
      display: grid;
      margin-left: 17px;
      span {
        font-family: 'Josefin Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
      }
      p {
        color: #a1a8c1;
        font-family: 'Josefin Sans';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
      }
    }
  }
  .price, 
  .product-total {
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #15245e;
  }
  #cart-items tr {
    border-bottom: 1px solid #e1e1e4;
  }
}
.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-btn {
  width: 12px;
  height: 15px;
  font-size: 14px;
  border: 1px solid #ccc;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bebfc2;
}

.quantity-input {
  width: 27px;
  height: 15px;
  text-align: center;
  border: none;
  background-color: #f0f0f0;
}

.quantity-btn:hover {
  background-color: #e0e0e0;
}

.clear_button {
  width: 134px;
  height: 39px;
  background-color: #fb2e86;
  border: none;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  font-family: 'osefin Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: white;
  margin-left: 840px;
  margin-top: 37px;
}
