@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  .heading_bar {
    width: inherit;
    height: 44px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 599px;
    color: #f1f1f1;
    .contact {
      display: flex;
      gap: 48px;
      font-family: 'Josefin Sans';

      font-size: 16px;
      font-weight: 600;
      line-height: normal;

      .email {
        display: flex;
      }
      .phone {
        display: flex;
      }
      i {
        margin-right: 10px;
      }
    }
    .feature {
      display: flex;
      gap: 32px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: left;

      .login {
        display: flex;
      }
      .wishlist {
        display: flex;
      }
      i {
        margin-left: 10px;
      }
    }
  }
  .nav_bar {
    display: flex;
    max-width: 1920px;
    height: 80px;
    justify-content: center;
    align-items: center;
    .main {
      max-width: 1170px;
      height: 40px;

      display: flex;
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        color: #0d0e43;
        font-family: 'Josefin Sans';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 35px;
        font-family: 'lato';
        a {
          text-decoration: none;
        }
        a:hover {
          color: #fb2e86;
        }
      }

      .search {
        margin-left: 100px;
        display: flex;
        align-items: center;
        width: 317px;
        height: 40px;
      }

      .search_input {
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
        border: solid 2px #e7e6ef;
        border-right: none;
      }

      .search_button {
        width: 51px;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: #fb2e86;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .search_button i {
        width: 20px;
        height: 20px;
        color: #f3f9ff;
      }
    }
  }
  .banner {
    display: flex;
    background-color: #f2f0ff;
    max-width: 1920px;
    height: 764px;
    position: relative;
    .lamp {
      width: 387px;
      height: 387px;

      left: 15px;
      gap: 0px;
      opacity: 0px;

      position: absolute;
    }
    .content_banner {
      width: 644px;
      height: 248px;
      align-items: center;
      top: 203px;
      left: 310px;
      gap: 0px;
      opacity: 0px;

      position: absolute;
      .line-1 {
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 700;
        color: #fb2e86;
        margin-bottom: 100px;
      }

      .line-2 {
        width: 644px;
        height: 140px;
        color: #000;
        font-family: 'Josefin Sans';
        font-size: 53px;
        font-style: normal;
        font-weight: 700;
        line-height: 132%; /* 69.96px */
        letter-spacing: 0.795px;
      }

      .line-3 {
        width: 700px;
        color: var(--sub-text-color, #8a8fb9);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        margin-top: 12px;
        line-height: 28px; /* 175% */
        margin-bottom: 27px;
      }
    }
    .sofa {
      width: 600px;
      height: 600px;
      position: absolute;
      top: 39px;
      right: 30px;
    }
    .btn_shop {
      width: 163px;
      height: 50px;
      background-color: #fb2e86;
      color: #fff;
      font-family: 'Josefin Sans';
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.34px;
      border: none;
      border-radius: 2px;
      margin-top: 27px;
    }
  }
  .featured_products {
    max-width: 1168px;
    margin: 50px auto;
    text-align: center;
  }

  .featured_products h1 {
    width: 367px;
    height: 42px;
    margin: 0 auto;
    color: #1a0b5b;
    margin-bottom: 20px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 42px;
  }

  .products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  .container_featured {
    display: flex;
  }
  .product_card {
    width: 270px;
    height: 361px;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  }

  .img_pro {
    width: 270px;
    height: 236px;
    background: #f6f7fb;
  }

  .infor_pro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
    align-items: center;
  }

  .name {
    font-family: 'lato';
    font-size: 18px;
    font-weight: 700;
  }
  .name:hover {
    color: #fb2e86;
  }
  .code {
    color: #151875;
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 400;
  }

  .price {
    color: #151875;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
  }
  .line {
    display: flex;
    margin: 0 auto;
    gap: 5px;
    .line_color1 {
      width: 14px;
      height: 5px;
      border-radius: 10px;
      background-color: #ffb703;
    }
    .line_color2 {
      width: 14px;
      height: 5px;
      border-radius: 10px;
      background-color: #ff03c8;
    }
    .line_color3 {
      width: 14px;
      height: 5px;
      border-radius: 10px;
      background-color: #2bff00;
    }
  }
}
#pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: gray; /* Màu sắc cho các chấm không hoạt động */
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(173, 55, 181); /* Màu sắc cho chấm hiện tại */
}
// .image_product {
//   background-color: #777;
// }
