.Leatest_Products {
  text-align: center;
}

.button_click ul {
  display: flex;
  justify-content: center; /* Căn giữa danh sách theo chiều ngang */
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none; /* Xóa dấu đầu dòng của ul */
}

.button_click ul li {
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.button_click ul li:hover {
  text-decoration: underline;
  color: #fb2e86; /* Màu khi hover */
}

.Leatest_Products h1 {
  width: 367px;
  height: 42px;
  margin: 0 auto;
  color: #1a0b5b;
  margin-bottom: 20px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 42px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product_leatest {
  width: 270px;
  height: 361px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.img_pro {
  width: 270px;
  height: 236px;
  background: #f6f7fb;
}

.infor_pro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
  align-items: center;
}

.name {
  font-family: 'lato';
  font-size: 18px;
  font-weight: 700;
}
.name:hover {
  color: #fb2e86;
}
.code {
  color: #151875;
  font-family: 'Josefin Sans';
  font-size: 14px;
  font-weight: 400;
}

.price {
  color: #151875;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
}
.line {
  display: flex;
  margin: 0 auto;
  gap: 5px;
  .line_color1 {
    width: 14px;
    height: 5px;
    border-radius: 10px;
    background-color: #ffb703;
  }
  .line_color2 {
    width: 14px;
    height: 5px;
    border-radius: 10px;
    background-color: #ff03c8;
  }
  .line_color3 {
    width: 14px;
    height: 5px;
    border-radius: 10px;
    background-color: #2bff00;
  }
}
.quality {
  max-width: 1168px;
  margin: 50px auto;
  text-align: center;
  h1 {
    width: 367px;
    height: 42px;
    margin: 0 auto;
    color: #1a0b5b;
    margin-bottom: 20px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 42px;
  }
  .service {
    display: flex;
    gap: 28px;
    margin-top: 60px;
    .vc1 {
      width: 270px;
      height: 320px;
      background-color: #f6f7fb;
      text-align: center;
    }
    .vc2 {
      width: 270px;
      height: 320px;
      background-color: #f6f7fb;
    }
    .vc3 {
      width: 270px;
      height: 320px;
      background-color: #f6f7fb;
    }
    .vc4 {
      width: 270px;
      height: 320px;
      background-color: #f6f7fb;
    }
  }
}
