@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
body{
    font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  .heading_bar {
    background-color: blueviolet;
    margin: auto;
    .bar {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 445px;
      color: #f1f1f1;
      height: 44px;
      width: 1240px;
    }
    .contact {
      display: flex;
      gap: 48px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: normal;

      .email {
        display: flex;
      }
      .phone {
        display: flex;
      }
      i {
        margin-right: 10px;
      }
    }
    .feature {
      display: flex;
      gap: 15px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: left;
      .login {
        display: flex;
      }
      .wishlist {
        display: flex;
      }
      i {
        margin-left: 3px;
      }
      .language,
      .unit {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .nav_bar {
    display: flex;
    max-width: 1920px;
    height: 80px;
    justify-content: center;
    align-items: center;
    .main {
      width: 1240px;
      height: 40px;
      display: flex;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        color: #0d0e43;
        font-family: 'Josefin Sans';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .menu_nav {
        display: flex;
        align-items: center;
        gap: 35px;
        font-family: 'lato';
        a {
          text-decoration: none;
        }
        a:hover {
          color: #fb2e86;
        }
      }

      .search {
        margin-left: 100px;
        display: flex;
        align-items: center;
        width: 317px;
        height: 40px;
      }

      .search_input {
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
        border: solid 2px #e7e6ef;
        border-right: none;
      }

      .search_button {
        width: 51px;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: #fb2e86;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .search_button i {
        width: 20px;
        height: 20px;
        color: #f3f9ff;
      }
    }
  }
  .banner {
    max-width: 1920px;
    height: 286px;
    background-color: #f6f5ff;
    position: relative;
    a {
      text-decoration: none;
    }
    a:hover {
      color: #fb2e86;
    }
    h1 {
      position: absolute;
      font-family: 'Josefin Sans';
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      top: 96px;
      left: 374px;
      margin-bottom: 9px;
    }

    span {
      position: absolute;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      text-align: center;
      top: 141px;
    }

    span:nth-child(2) {
      left: 375px;
    }

    span:nth-child(3) {
      left: 420px;
    }

    span:nth-child(4) {
      left: 465px;
      color: #fb2e86;
    }
  }
}
.order-completed-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 181px;
  max-width: 1170px;
 margin: auto;
}

.icon-container {
  flex: 1;
}

.side-icon {
  width: 50px;
  height: 50px;
}

.content {
  flex: 2;
}

.checkmark-container img {
  width: 50px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #2b2f3a;
  margin-bottom: 10px;
}

p {
  color: #7d828a;
  font-size: 16px;
  margin-bottom: 20px;
}

.continue-btn {
  background-color: #ff3d81;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continue-btn:hover {
  background-color: #ff1a63;
}
