@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  .heading_bar {
    background-color: blueviolet;
    margin: auto;
    .bar {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 445px;
      color: #f1f1f1;
      height: 44px;
      width: 1240px;
    }
    .contact {
      display: flex;
      gap: 48px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: normal;

      .email {
        display: flex;
      }
      .phone {
        display: flex;
      }
      i {
        margin-right: 10px;
      }
    }
    .feature {
      display: flex;
      gap: 15px;
      font-family: 'Josefin Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: left;
      .login {
        display: flex;
      }
      .wishlist {
        display: flex;
      }
      i {
        margin-left: 3px;
      }
      .language,
      .unit {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .nav_bar {
    display: flex;
    max-width: 1920px;
    height: 80px;
    justify-content: center;
    align-items: center;
    .main {
      width: 1240px;
      height: 40px;
      display: flex;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        color: #0d0e43;
        font-family: 'Josefin Sans';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .menu_nav {
        display: flex;
        align-items: center;
        gap: 35px;
        font-family: 'lato';
        a {
          text-decoration: none;
        }
        a:hover {
          color: #fb2e86;
        }
      }

      .search {
        margin-left: 100px;
        display: flex;
        align-items: center;
        width: 317px;
        height: 40px;
      }

      .search_input {
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
        border: solid 2px #e7e6ef;
        border-right: none;
      }

      .search_button {
        width: 51px;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: #fb2e86;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .search_button i {
        width: 20px;
        height: 20px;
        color: #f3f9ff;
      }
    }
  }
  .banner {
    max-width: 1920px;
    height: 286px;
    background-color: #f6f5ff;
    position: relative;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #fb2e86;
  }
  .banner h1 {
    position: absolute;
    font-family: 'Josefin Sans';
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    top: 96px;
    left: 374px;
    margin-bottom: 9px;
  }

  .banner span {
    position: absolute;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    top: 141px;
  }

  .banner span:nth-child(2) {
    left: 375px;
  }

  .banner span:nth-child(3) {
    left: 420px; /* Đặt khoảng cách từ span thứ 2 */
  }

  .banner span:nth-child(4) {
    left: 465px; /* Đặt khoảng cách từ span thứ 3 */
    color: #fb2e86;
  }
  .page_sort {
    max-width: 1171px;
    height: 44px;
    margin: 0 auto;
    margin-top: 124px;
    justify-content: center;
    align-items: center;
    display: flex;
    .title {
      margin-right: 180px;
      h3 {
        font-family: 'Josefin Sans';
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: #151875;
      }
      p {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: left;
        color: #8a8fb9;
      }
    }
    .feature {
      gap: 27px;
      display: flex;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: left;
      color: #3f509e;

      .Per_Page {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          width: 55px;
          height: 25px;
          border: 2px solid #e7e6ef;
          margin-left: 15px;
        }
        .view {
          width: 162px;
          height: 30px;
        }
        .svg {
          margin-left: 10px;
        }
        svg {
          gap: 15px;
        }
        #grid_product,
        #list_products {
          cursor: pointer;
        }
      }
    }
  }
  .all_products {
    max-width: 1240px;
    margin: auto;
    margin-top: 144px;
    .products_container.grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột với kích thước bằng nhau */
      column-gap: 53px; /* Khoảng cách giữa các cột */
      row-gap: 81px;
      h4 {
        display: none;
      }
      .product-card {
        width: 270px;
        height: 363px;
        align-items: center;
        position: relative;
      }
      .product-card:hover .icons,
      .product-card:hover .image {
        opacity: 1;
        background-color: #ebf4f3;
      }

      .image {
        width: 270px;
        height: 280px;
        background: #f6f7fb;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 201px;
          height: 201px;
        }
      }
      .icons {
        display: grid;
        position: absolute;
        top: 174px;
        left: 11px;
        gap: 10px;
        opacity: 0;
        cursor: pointer;
      }
      .btn_view_detail {
        display: none;
      }
      .rating {
        display: none;
      }
      .infor_pro {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 15px;
        align-items: center;
        .name {
          font-family: 'Josefin Sans';
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
          text-align: center;
          color: #151875;
          margin-top: 18px;
          margin-bottom: 8px;
          margin: 0;
        }
        .line {
          display: flex;
          margin: 0 auto;
          gap: 6px;
          margin-bottom: 15px;
          margin: 0;
          .line_color1 {
            width: 13px;
            height: 13px;
            background-color: #d12270;
            border-radius: 50%;
          }
          .line_color2 {
            width: 13px;
            height: 13px;
            background-color: #0ed145;
            border-radius: 50%;
          }
          .line_color3 {
            width: 13px;
            height: 13px;
            background-color: #2709e7;
            border-radius: 50%;
          }
        }
        .price-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          .original-price {
            font-family: 'Josefin Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: center;
            color: #fb2e86;
            text-decoration: line-through;
          }

          .discount-price {
            font-family: 'Josefin Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: center;
            color: #151875;
          }
        }
      }
    }
    .products_container.list {
      display: grid;
      grid-template-columns: 1fr;

      .product-card {
        width: 100%;
        display: flex;
        background-color: white;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 40px;
        align-items: center;
        position: relative;

        .btn_view_detail {
          display: none;
        }
        .image {
          img {
            width: 338px;
            height: 217px;
            object-fit: contain;
          }
        }
        .infor_pro {
          .name {
            font-family: 'Josefin Sans';
            font-size: 19.88px;
            font-weight: 700;
            line-height: 19.88px;
            text-align: left;
            color: #111c85;
          }
          .line {
            display: flex;
            margin: 0 auto;
            gap: 6px;
            // margin-bottom: 15px;
            margin: 0;
            position: absolute;
            top: 26px;
            left: 670px;
            .line_color1 {
              width: 13px;
              height: 13px;
              background-color: #d12270;
              border-radius: 50%;
            }
            .line_color2 {
              width: 13px;
              height: 13px;
              background-color: #0ed145;
              border-radius: 50%;
            }
            .line_color3 {
              width: 13px;
              height: 13px;
              background-color: #2709e7;
              border-radius: 50%;
            }
          }
          .evalue {
            display: flex;
            margin-top: 14.23px;
            align-items: center;
            gap: 20px;
          }
          .price-container {
            display: flex;

            gap: 11px;
            .original-price {
              font-family: 'Josefin Sans';
              font-size: 15.46px;
              font-weight: 400;
              line-height: 15.46px;
              text-align: left;
              color: #ff2aaa;
              text-decoration: line-through;
            }

            .discount-price {
              font-family: 'Josefin Sans';
              font-size: 15.46px;
              font-weight: 400;
              line-height: 15.46px;
              text-align: left;
              color: #111c85;
              margin-right: 20px;
            }
          }
        }
        h4 {
          font-family: 'Lato';
          font-size: 17.67px;
          font-weight: 400;
          line-height: 30.92px;
          text-align: left;
          color: #9295aa;
          margin-top: 11.4px;
        }
        .icons {
          display: flex;
          margin-top: 30px;
          gap: 37px;
          cursor: pointer;
        }
      }
    }
  }
}
.pagination-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  .pagination-button {
    width: 40px;
    height: 40px;
    background-color: #99a0df;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
  }
  .pagination-button.active {
    background-color: #093463; /* Màu nền cho nút đang hoạt động */
    color: white; /* Màu chữ cho nút đang hoạt động */
  }
}
.brand {
  max-width: 1920px;
  text-align: center;
  margin-top: 96px;
  img {
    width: 904px;
    height: 93px;
    // margin: auto;
  }
}
.footer {
  background-color: #f7f7fb;
  max-width: 1920px;
  margin-top: 115px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 1168px;
  // margin-top: 94px;
}

.footer-section {
  margin-top: 95px;
  margin-bottom: 101px;
}

.footer-section h5 {
  font-family: 'Josefin Sans';
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 42px;
}
.footer-section h2 {
  font-family: 'Josefin Sans';
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
}

.footer-section p {
  color: #8e8e8e;
  margin-bottom: 10px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 21px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.footer-section ul li a {
  text-decoration: none;
  color: #6d6d6d;
}

.footer-section ul li a:hover {
  color: #2d2d2d;
}

.footer .subscribe {
  display: flex;
  margin-bottom: 25px;
  margin-top: 31px;
  width: 377px;
  height: 44px;
}

.footer .subscribe input[type='email'] {
  padding: 10px;
  flex: 1;
  border: 1px solid #e0e0e0;

  outline: none;
}

.footer .subscribe button {
  padding: 10px;
  background-color: #fb2e86;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.footer .subscribe button:hover {
  background-color: #d12270;
}
.footerbottom {
  max-width: 1920px;
  margin: auto;
  background-color: #e0d9f5;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 53px;
  width: 535px;
  margin: auto;
}

.footer-bottom p {
  color: #8e8e8e;
  margin: 0;
}

.footer-socials a {
  margin: 0 5px;
  color: #3f3f3f;
}
