@charset "UTF-8";
.leatest-products {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 70px;
  color: #1a0b5b;
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  color: #151875;
  gap: 58px;
}

.categories span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.categories span:hover {
  text-decoration: underline;
  color: #fb2e86;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 37px;
  margin-top: 62px;
  max-width: 1168px;
}

.product {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  height: 306px;
  width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.image-container {
  background-color: #f7f7f7;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product img {
  border-radius: 8px;
}

.product-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -8px;
}

.original-price {
  color: #fb2448;
  text-decoration: line-through;
  margin-right: 10px;
  margin-top: -15px;
  font-size: 12px;
}

.discount-price {
  color: #151875;
  margin-right: 10px;
  margin-top: -15px;
  font-size: 14px;
}

.product h2 {
  color: #151875;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 5px;
}

.active-category {
  color: #fb2e86;
  font-weight: bold;
}

/* Hover để hiển thị icon */
.icon-container {
  position: absolute;
  top: 146px;
  left: 15px;
  gap: 17px;
  display: grid;
  opacity: 0;
}

.heart-icon,
.cart-icon,
.search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.product:hover .icon-container {
  opacity: 1; /* Hiện các icon khi hover */
}