@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
body {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}
body .heading_bar {
  background-color: blueviolet;
  margin: auto;
}
body .heading_bar .bar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 445px;
  color: #f1f1f1;
  height: 44px;
  width: 1240px;
}
body .heading_bar .contact {
  display: flex;
  gap: 48px;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
body .heading_bar .contact .email {
  display: flex;
}
body .heading_bar .contact .phone {
  display: flex;
}
body .heading_bar .contact i {
  margin-right: 10px;
}
body .heading_bar .feature {
  display: flex;
  gap: 15px;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
body .heading_bar .feature .login {
  display: flex;
}
body .heading_bar .feature .wishlist {
  display: flex;
}
body .heading_bar .feature i {
  margin-left: 3px;
}
body .heading_bar .feature .language,
body .heading_bar .feature .unit {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .nav_bar {
  display: flex;
  max-width: 1920px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
body .nav_bar .main {
  width: 1240px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .nav_bar .main h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  color: #0d0e43;
  font-family: "Josefin Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .nav_bar .main .menu_nav {
  display: flex;
  align-items: center;
  gap: 35px;
  font-family: "lato";
}
body .nav_bar .main .menu_nav a {
  text-decoration: none;
}
body .nav_bar .main .menu_nav a:hover {
  color: #fb2e86;
}
body .nav_bar .main .search {
  margin-left: 100px;
  display: flex;
  align-items: center;
  width: 317px;
  height: 40px;
}
body .nav_bar .main .search_input {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border: solid 2px #e7e6ef;
  border-right: none;
}
body .nav_bar .main .search_button {
  width: 51px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #fb2e86;
  align-items: center;
  display: flex;
  justify-content: center;
}
body .nav_bar .main .search_button i {
  width: 20px;
  height: 20px;
  color: #f3f9ff;
}
body .banner {
  max-width: 1920px;
  height: 286px;
  background-color: #f6f5ff;
  position: relative;
}
body a {
  text-decoration: none;
}
body a:hover {
  color: #fb2e86;
}
body .banner h1 {
  position: absolute;
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  top: 96px;
  left: 374px;
  margin-bottom: 9px;
}
body .banner span {
  position: absolute;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  top: 141px;
}
body .banner span:nth-child(2) {
  left: 375px;
}
body .banner span:nth-child(3) {
  left: 420px; /* Đặt khoảng cách từ span thứ 2 */
}
body .banner span:nth-child(4) {
  left: 465px; /* Đặt khoảng cách từ span thứ 3 */
  color: #fb2e86;
}
body .page_sort {
  max-width: 1171px;
  height: 44px;
  margin: 0 auto;
  margin-top: 124px;
  justify-content: center;
  align-items: center;
  display: flex;
}
body .page_sort .title {
  margin-right: 180px;
}
body .page_sort .title h3 {
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #151875;
}
body .page_sort .title p {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  color: #8a8fb9;
}
body .page_sort .feature {
  gap: 27px;
  display: flex;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #3f509e;
}
body .page_sort .feature .Per_Page {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .page_sort .feature .Per_Page input {
  width: 55px;
  height: 25px;
  background-color: #e7e6ef;
  border: none;
  margin-left: 15px;
}
body .page_sort .feature .Per_Page .view {
  width: 162px;
  height: 30px;
}
body .page_sort .feature .Per_Page svg {
  gap: 15px;
}
body .page_sort .feature .Per_Page #grid_product,
body .page_sort .feature .Per_Page #list_products {
  cursor: pointer;
}
body .all_products {
  max-width: 1240px;
  margin: auto;
  margin-top: 144px;
}
body .all_products #products-containers_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột với kích thước bằng nhau */
  -moz-column-gap: 53px;
       column-gap: 53px; /* Khoảng cách giữa các cột */
  row-gap: 81px;
}
body .all_products #products-containers_grid .product_card {
  width: 270px;
  height: 361px;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
body .all_products #products-containers_grid .img_pro {
  width: 270px;
  height: 236px;
  background: #f6f7fb;
}
body .all_products #products-containers_grid .infor_pro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
  align-items: center;
}
body .all_products #products-containers_grid .name {
  font-family: "lato";
  font-size: 18px;
  font-weight: 700;
}
body .all_products #products-containers_grid .name:hover {
  color: #fb2e86;
}
body .all_products #products-containers_grid .code {
  color: #151875;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
}
body .all_products #products-containers_grid .price {
  color: #151875;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
}
body .all_products #products-containers_grid .line {
  display: flex;
  margin: 0 auto;
  gap: 5px;
}
body .all_products #products-containers_grid .line .line_color1 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ffb703;
}
body .all_products #products-containers_grid .line .line_color2 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ff03c8;
}
body .all_products #products-containers_grid .line .line_color3 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #2bff00;
}
body .all_products #products-containers_grid .product_card .icons,
body .all_products #products-containers_grid .product_card .btn_view_detail {
  display: none;
  position: absolute;
  opacity: 0;
  font-family: "Josefin Sans";
}
body .all_products #products-containers_grid .product_card .icons {
  left: 11px;
  top: 11px;
  display: flex;
  gap: 16px;
}
body .all_products #products-containers_grid .product_card .icons img {
  height: 19px;
  width: 19px;
}
body .all_products #products-containers_grid .product_card .btn_view_detail {
  background-color: #08d15f;
  color: white;
  border: none;
  left: 95px;
  padding: 0;
  cursor: pointer;
  width: 94px;
  height: 29px;
  top: 198px;
  border-radius: 2px;
}
body .all_products #products-containers_grid .product_card:hover .icons,
body .all_products #products-containers_grid .product_card:hover .btn_view_detail {
  display: block;
  opacity: 1;
}
body .product-card {
  margin-bottom: 40px;
  display: flex;
}
body .list-view {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
body .image {
  margin-right: 35px;
}
body .image img {
  width: 388px;
  height: 217px;
}
body h3 {
  font-family: "Josefin Sans";
  font-size: 19.88px;
  font-weight: 700;
  line-height: 19.88px;
  text-align: left;
  color: #111c85;
  margin-bottom: 14px;
  cursor: pointer;
}
body .price-container {
  display: flex;
  margin-bottom: 11px;
}
body .original-price {
  font-family: "Josefin Sans";
  font-size: 15.46px;
  font-weight: 400;
  line-height: 15.46px;
  text-align: left;
  color: #ff2aaa;
  text-decoration: line-through;
}
body .discount-price {
  font-family: "Josefin Sans";
  font-size: 15.46px;
  font-weight: 400;
  line-height: 15.46px;
  text-align: left;
  color: #111c85;
  margin-right: 20px;
}
body .evalute {
  margin-left: 19px;
  gap: 3.58px;
}
body .evalute svg {
  width: 14.5px;
  height: 13px;
}
body h4 {
  font-family: "Lato";
  font-size: 17.67px;
  font-weight: 400;
  line-height: 30.92px;
  text-align: left;
  color: #9295aa;
}
body .list_icon {
  display: flex;
  margin-top: 30px;
  gap: 37px;
  cursor: pointer;
}
body .pagination-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}
body .pagination-dots .pagination-button {
  width: 50px;
  height: 40px;
  background-color: #202fbb;
  color: white;
}
body .brand {
  max-width: 1920px;
  text-align: center;
  margin-top: 96px;
}
body .brand img {
  width: 904px;
  height: 93px;
}
body .footer {
  background-color: #f7f7fb;
  max-width: 1920px;
  margin-top: 115px;
}
body .footer-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 1168px;
}
body .footer-section {
  margin-top: 95px;
  margin-bottom: 101px;
}
body .footer-section h5 {
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 42px;
}
body .footer-section h2 {
  font-family: "Josefin Sans";
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
}
body .footer-section p {
  color: #8e8e8e;
  margin-bottom: 10px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
body .footer-section ul {
  list-style-type: none;
  padding: 0;
}
body .footer-section ul li {
  margin-bottom: 21px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
body .footer-section ul li a {
  text-decoration: none;
  color: #6d6d6d;
}
body .footer-section ul li a:hover {
  color: #2d2d2d;
}
body .footer .subscribe {
  display: flex;
  margin-bottom: 25px;
  margin-top: 31px;
  width: 377px;
  height: 44px;
}
body .footer .subscribe input[type=email] {
  padding: 10px;
  flex: 1;
  border: 1px solid #e0e0e0;
  outline: none;
}
body .footer .subscribe button {
  padding: 10px;
  background-color: #fb2e86;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
body .footer .subscribe button:hover {
  background-color: #d12270;
}
body .footerbottom {
  max-width: 1920px;
  margin: auto;
  background-color: #e0d9f5;
}
body .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  width: 535px;
  margin: auto;
}
body .footer-bottom p {
  color: #8e8e8e;
  margin: 0;
}
body .footer-socials a {
  margin: 0 5px;
  color: #3f3f3f;
}